/flower-frontend/node_modules
/flower-frontend/public/hot
/flower-frontend/public/storage
/flower-frontend/storage/*.key
/flower-frontend/vendor
/flower-frontend/.env
/flower-frontend/.env.backup
/flower-frontend/.phpunit.result.cache
/flower-frontend/Homestead.json
/flower-frontend/Homestead.yaml
/flower-frontend/npm-debug.log
/flower-frontend/yarn-error.log
/flower-frontend/.idea

/flower-backend/node_modules
/flower-backend/public/hot
/flower-backend/public/storage
/flower-backend/storage/*.key
/flower-backend/vendor
/flower-backend/.env
/flower-backend/.env.backup
/flower-backend/.phpunit.result.cache
/flower-backend/Homestead.json
/flower-backend/Homestead.yaml
/flower-backend/npm-debug.log
/flower-backend/yarn-error.log
/flower-backend/.idea
